@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@100&display=swap');

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    height: 78vh;
}

main {
    padding-bottom: 15%;
    background-image: url("/Fanverso/img/BACKGROUND/colorido.svg");
    background-repeat: repeat;
}

.content {
    width: 80vw;
    min-width: 900px;
    margin: auto;
    border-radius: 10px;
    margin-top: 100px;
    background-color: #f3f1f1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 0px 15px 15px 15px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    border-radius: 2%;
    justify-content: center;
    background-color: aliceblue;
}

.product-content {
    text-align: center;
}

.product-content img {
    max-width: 50%;
    height: auto;
    padding: auto;
    display: inline-block;
    margin: 0 auto;
}
.planetinha {
    display: flex;
    margin: 20px;
}

.planetinha h1 {
    padding-left: 20px;
    font-family: 'Changa One', sans-serif;
    font-weight: 100;
}
