@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

#menu {
    width: 100%;
    height: 6vh;
    display: flex;
}

.title,
.sub-title {
    list-style: none;
    display: none;
    animation-name: aparecer;
    animation-duration: 500ms;
}

#menu-header .itens-menu.active .sub-title {
    display: block;
    background-color: rgb(186, 186, 255);
    font-family: 'roboto', sans-serif;
    padding-left: 5px;
}

#menu-header .itens-menu.active .cate {
    display: block;
    background-color: rgb(186, 186, 255);
    font-family: 'Changa One', sans-serif;
    padding-top: 5px;
}

.itens-menu {
    margin: -50px;
    margin-top: 20px;
    width: 180px;
}

@keyframes aparecer {
    from {
        height: 0px;
    }

    to {
        height: 20px;
    }
}

#categorias,
#universos {
    list-style: none;
    font-family: 'Changa One', sans-serif;
    font-size: 2vh;
    cursor: pointer;
    user-select: none;
}

.icon {
    display: flex;
    padding-right: 20px;
    height: 60px;
    align-items: center;
}

.placeholder-header {
    display: flex;
    align-items: center;
    height: 6vh;
    background-color: #f2f2f2;
    padding: 0 20px;
    box-sizing: border-box;

}

#logo {
    margin-left: 1%;
}

.search {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-right: 15vh;
    height: 100%;
}


.search img {
    width: 3vh;
    opacity: 0.5;
    margin-left: -40px;
}

.search input {
    font-family: "roboto";
    background-color: rgb(117, 117, 126);
    font-size: 2vh;
    color: white;
    padding-left: 5%;
    width: 400px;
    border:none;
}

.unirversos-list {
   list-style: none;
   margin-left: -50px;
    background-color: rgba(59, 0, 33, 1);
    margin-top: -80px;
    padding-right: 40px ;
    padding-bottom: 120px;
}

.fade_out {
    position:relative;
    height:100%;
    width:200px;
    margin: auto;
    margin-top: 100px;
  }

  .fade_out img {
    margin-top: 10px;
    position:absolute;
    left:0;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
    border: 3px solid rgb(7, 7, 7);
  }

  .fade_out img.top:hover {
    opacity:0;
  }