@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

.header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 4px 1px;
}

#menu {
    width: 100%;
    height: 6vh;
    display: flex;
    
}

.title,
.sub-title {
    list-style: none;
    display: none;
    animation-name: aparecer;
    animation-duration: 500ms;
    
}

#menu-header .itens-menu.active .sub-title {
    display: block;
    background-color: rgb(255, 255, 255);
    font-family: 'roboto', sans-serif;
    padding-left: 5px;
    font-weight: bold;
    
}

#menu-header .itens-menu.active .cate {
    display: block;
    color: #181818;
    background-color: rgb(255, 255, 255);
    font-family: 'Changa One', sans-serif;
    padding-top: 5px;
    border-bottom: 1px solid black;
    font-weight: 300;
    
}

.itens-menu {
    margin: -22%;
    margin-top: 4%;
    height: auto;
    width: 180px;
}

@keyframes aparecer {
    from {
        height: 0px;
    }

    to {
        height: 20px;
    }
}

#categorias,
#universos {
    list-style: none;
    font-family: 'Changa One', sans-serif;
    font-size: 1em;
    cursor: pointer;
    user-select: none;
}

.icon {
    display: flex;
    padding-right: 20px;
    height: 60px;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    height: 6vh;
    background-color: #E147C4;
    padding: 0 20px;
    box-sizing: border-box;

}

#logo {
    margin-left: 1%;
}

.search {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-right: 15vh;
    height: 100%;
   
}


.search img {
    width: 3vh;
    opacity: 0.5;
    margin-left: -40px;
    
}

.search input {
    border-radius: 3px;
    font-family: "roboto";
    background-color: rgb(237, 237, 237);
    font-size: 2vh;
    color: rgb(0, 0, 0);
    padding-left: 5%;
    width: 22vw;
    border:none;
    font-weight: bold;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu-item {
    position: relative;
}

#universos {
    margin-right: 80px;
}

.universos-list {
    list-style: none;
    margin-top:3%;
    padding-top: 20px;
    padding-right: 37px;
    background-color: #fdfdfd;
    display: none;
    border-radius: 10px; 
}

.menu-item:hover .universos-list {
    display: block; 
}

.fade_out {
    position: relative;
    height: 100%;
    width: 200px;
    padding-bottom: 130px;
}

.fade_out img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
    border: 3px solid rgb(21, 21, 21);
    border-radius: 10px; 
}

.fade_out img.top:hover {
    opacity: 0;
}
