#menu {
    width: 100%;
    height: 6vh;
    display: flex;
}

.title, .sub-title {
    list-style: none;
    display: none;
}
.menu-header {
    list-style: none;
}
#categorias, #universos {
    list-style: none;
}
.icon {
    display: flex;
    padding-right: 20px;
    height:60px;
    align-items: center;
}
.placeholder-header {
        display: flex;
        align-items: center; 
        height: 6vh;
        background-color: #f2f2f2; 
        padding: 0 20px;
}
#logo {
    margin-left: 1%;
}
.search {
    display: flex;
    background-color: rgb(120, 120, 233);
    width: 40%;
    justify-content: space-between;
    margin-right: 20%;
}
.search p {
    margin-left: 5%;
}