* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.navegador_superior_movel{
    display: flex;
    background-color: #ccc;
    justify-content: left;
    padding-top: 20px;
    padding-left: 30px;
}

.menu_principal_item {
    list-style: none;
    padding-right: 25px;
}

.submenu {
    display: none;
    padding-top: 10px;
    list-style: none;
    background-color: #ccc;
}
.menu_principal_item:active .submenu{
    display: block;
}

.menu_principal_item, .sub_menu li{
    background-color: #ccc;
            border: none;
            padding: 15px;
            border-radius: 8px;
            cursor: pointer;
            box-shadow: 2px 2px 2px;
            transition: transform 400ms, box-shadow 400ms;
}

.menu_principal:active, sub:active {
    box-shadow: 2px 3px 1px;
    transform: translate(4px, 6px);
}
.menu_esquerdo {
    display: flex;
    height: 1200px;
    width: 20vw;
    background-color: #ccc;
    flex-direction: column;
    justify-content: start;
}
.botoes {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.conteudo_menu{
    display: flex;
}
.conteudo {
    width: 80vw;
    height: 1200px;
    text-align: justify;
}
.loader {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
  }
  .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
  }
  .loader::after{
    transform: rotate3d(90, 90, 0, 180deg );
    border-color: blue;
  }

  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  }

  @media screen and (max-width:600px) {
    .menu_esquerdo {
        background-color: blue;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
    }
    .botao{
        list-style: none;
    }
    .conteudo_menu{
        display: block;
    }
  }